#playButton{
    display: block;
}

img{
    width:200px;
    display:block;
    margin:auto;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style:solid;
    border-radius: 10%;
}
img:hover{
    border-color:rgb(240, 124, 16);
}

p{
    font-size:40px;
    text-align:center;
    
}

.button{
    width:100px;
    height:50px;
    margin:15px;
    display:block;
    margin:auto;
    margin-top: 15px;
}

input{
    width:130px;
    height:50px;
    display:block;
    margin:auto;
}

#rand{
    font-size:20px;
    border-style:solid;
    
}